<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Статьи</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="container">
        <ul class="nav nav-pills">

            <li class="nav-item">
              {% url 'home' as url_home %}
              <a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Главная</a>
            </li>
            <li class="nav-item">
              {% url 'edit_page' as url_edit_page %}
              <a class="nav-link {% if url_edit_page == request.path %}active{% endif %}" href="{{url_edit_page}}">Создание/ред/удал</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              {% url 'login_page' as url_login_page %}
              <a class="nav-link {% if url_login_page == request.path %}active{% endif %}" href="{{url_login_page}}">Авторизация</a>
            </li>
            <li class="nav-item">
              {% url 'register_page' as url_register_page %}
              <a class="nav-link {% if url_register_page == request.path %}active{% endif %}" href="{{url_register_page}}">Регистрация</a>
            </li>

          {{request.user}}
        {% else %}
          {{request.user}}
          <div class="ml-auto">
            <li class="nav-item mr-1">
              {% url 'logout_page' as url_logout_page %}
              <a class="nav-link btn btn-outline-danger" href="{{url_logout_page}}">Выйти</a>
            </li>
          </div>


        {% endif %}
        </ul>
      </div>

      {% block content %}

        <h1 class="mt-4">Статьи</h1>
        {% for i in list_articles %}
          <ul class="list-group mt-4">
            <li class="list-group-item">
              <b>{{ i.create_date }}</b>
              <span class="m-4">{{ i.name }}</span>
              <span>{{ i.text|truncatechars:"5" }}</span>
              <span class="float-right mr-3"><a href="{{ i.get_absolute_url }}">перейти к статье</a></span>
            </li>
          </ul>
        {% endfor %}

      {% endblock %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>